<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul>
      <!-- <li><a href="{{ platform.link }}"><i class="{{ platform.icon }}"></i> {{ platform.name }}</a></li> -->
       <li>test</li>
        <ul>
            <li>inner test</li>
            <li>inner test</li>
        </ul>
       <li>test2</li>
       <li>test3</li>
    </ul>
  </div>