<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul>
      <!-- <li><a href="{{ platform.link }}"><i class="{{ platform.icon }}"></i> {{ platform.name }}</a></li> -->
       <li>header 1</li>
        <ul>
            <li>header 2</li>
            <li><details>header 2 with drop<summary>
                <ul>
                    <li>header 3</li>
                    <li>header 3</li>
                </ul>
            </summary></details></li>
        </ul>
       <li>header 1</li>
       <li>header 1</li>
    </ul>
  </div>