<div class="link-wrapper";>
  <style scoped>
    /* ul.link a {
      color:var(--clr-h1-and-bold);
      text-decoration:none;
    }

    ul.link a:hover, a:focus {
      color: var(--clr-a-text-hvr);
    } */
    ul{
margin-bottom: 0px;
padding-left: 15px;
margin-top: 0px;
}
    .nobull {
list-style-type: none;
}
.inner-drop {
padding-left: 30px;
}
details > summary {
margin-left: -15px;
}
  </style>
   <b>Site Navigation</b>
   <ul>
      <li><a href="#about-this-documentation">About this documentation</a></li>
      <li><a href="#introduction">Introduction</a></li>
      <ul>
           <li><a href="#what-is-pokéapi">What is PokéAPI?</a></li>
           <li><a href="#what-are-python-dictionaries">What are Python dictionaries?</a></li>
           </ul>
      <li><a href="#getting-started">Getting started</a></li>
      <ul class="nobull">
         <li><details><summary><a href="#requirements">Requirements</a></summary>
               <ul class="inner-drop">
                 <li><a href="#visual-studio-code-requirements">Visual Studio Code requirements</a></li>
                 <li><a href="#python-requirements">Python requirements</a></li>
               </ul>
               </ul>
      <ul>
        <li><a href="#download-and-install-software">Download and install software</a></li>
      </ul>
      <li><a href="#using-the-pokéapi-site">Using the PokéAPI site</a></li>
      <li><a href="#core-python-interactions">Core Python interactions</a></li>
       <ul class="nobull">
         <li><details><summary><a href="#encounters">Encounters</a></summary>
               <ul class="inner-drop">
                 <li><a href="#encounter-methods">Encounter methods</a></li>
                 <li><a href="#encounter-conditions">Encounter conditions</a></li>
                 <li><a href="#encounter-condition-values">Encounter condition values</a></li>
               </ul>

           </details></li>
           <li><details><summary><a href="#evolution">Evolution</a></summary>
             <ul class="inner-drop">
               <li><a href="#evolution-chains">Evolution chains</a></li>
               <li><a href="#evolution-triggers">Evolution triggers</a></li>
             </ul>

         </details></li>
         <li><details><summary><a href="#moves">Moves</a></summary>
           <ul class="inner-drop">
             <li><a href="#move-ailments">Move ailments</a></li>
             <li><a href="#move-battle-styles">Move battle styles</a></li>
             <li><a href="#move-categories">Move categories</a></li>
             <li><a href="#move-damage-classes">Move damage classes</a></li>
             <li><a href="#move-learn-methods">Move learn methods</a></li>
             <li><a href="#move-targets">Move targets</a></li>
           </ul>
       </details></li>
           <li><details><summary><a href="#pokémon">Pokémon</a></summary>
             <ul class="inner-drop">
                   <li><a href="#abilities">Abilities</a></li>
                   <li><a href="#characteristics">Characteristics</a></li>
                   <li><a href="#egg-groups">Egg groups</a></li>
                   <li><a href="#genders">Genders</a></li>
                   <li><a href="#growth-rates">Growth rates</a></li>
                   <li><a href="#natures">Natures</a></li>
                   <li><a href="#pokéathlon-stats">Pokéathlon stats</a></li>
                   <li><a href="#pokémon-location-areas">Pokémon location areas</a></li>
                   <li><a href="#pokémon-colors">Pokémon colors</a></li>
                   <li><a href="#pokémon-forms">Pokémon forms</a></li>
                   <li><a href="#pokémon-habitats">Pokémon habitats</a></li>
                   <li><a href="#pokémon-shapes">Pokémon shapes</a></li>
                   <li><a href="#pokémon-species">Pokémon species</a></li>
                   <li><a href="#stats">Stats</a></li>
                   <li><a href="#types">Types</a></li>
               </ul>
           </details></li>
       </ul>
</ul>


<ul class="nobull">
         <li><details><summary><a href="#more-python-sample-code">More Python sample code</a></summary>
          <ul class="inner-drop">
           <li><a href="#create-pokédex">Create Pokédex</a></li>
           <li><a href="#search-pokémon-by-filters">Search Pokémon by filters</a></li>
           <li><a href="#display-pokémon-image">Display Pokémon image</a></li>
           </details></li>
          </ul>

</ul>



<ul>
       <li><a href="#resources">Resources
       <ul class="nobull">
         <li><details><summary><a href="#common-errors">Common errors</a></summary>
               <ul class="inner-drop">
                 <li><a href="#api-error">API error</a></li>
                 <li><a href="#python-errors">Python errors</a></li></ul>
       </li>
       </ul>
       <ul>
                <li><a href="#links">Links</a></li>
       </ul>
   </ul>
 </div>